.lt-category-l {
    width: 90px;
    height: 100%;
    float: left;
    position: relative;
}
.lt-category-l ul li a{
    width: 100%;
    height: 50px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    background-color: pink;
    line-height: 50px;
    text-align: center;
    display: block;
    color: #333;
}
.lt-category-l ul li.now a {
    background-color: #fff;
    border-right: none;
}



.lt-category-r {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.lt-category-r li {
    float: left;
    text-align: center;
    width: 33.33%;
}
.lt-category-r .text-tips {
    padding: 10px;
}
.lt-category-r li a {
    display: block;
}
.lt-category-r li img {
    width: 62px;
    height: 62px;
    margin: 0 auto;
}
