<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入配置文件 -->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <!-- 引入表单校验的样式文件 -->
    <link rel="stylesheet" href="./lib/bootstrap-validator/css/bootstrapValidator.min.css">
    <!-- 引入进度条样式文件 -->
    <link rel="stylesheet" href="./lib/nprogress/nprogress.css">
    <link rel="stylesheet/less" href="./less/index.less">
    <script src="./lib/less/less.js"></script>
    <title>乐淘商城后台管理页面</title>
</head>
<body>
   
    <!-- 左边侧边栏 -->
    <div class="lf_aside login-bg">
        <div class="logo">
            <a href="index.html" class="text-center">
                乐淘后台
            </a>
        </div>
        <div class="user clearfix">
            <img src="./images/default.png" alt="" class="pull-left">
            <p class="pull-right">超级管理员</p>
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="javascript:;" class="userManage on">
                        <span class="glyphicon glyphicon-user"></span>
                        用户管理</a>
                </li>
                <li>
                    <a href="javascript:;" class="category">
                        <span class="glyphicon glyphicon-list"></span>
                        分类管理
                    </a>
                    <div class="child">
                        <a href="category1.html" class="first">一级分类</a>
                        <a href="category2.html" class="second">二级分类</a>
                    </div>
                </li>
                <li>
                    <a href="products.html" class="products">
                        <span class="glyphicon glyphicon-tags"></span>
                        商品管理</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 右边内容 -->
    <div class="rt_main">
        <div class="topbar">
            <a href="javascript:;" class="menu pull-left">
                <span class="glyphicon glyphicon-align-justify"></span>
            </a>
            <a href="javascript:;" class="loginout pull-right">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
        <!-- 主体内容部分 -->
        <div class="container-fluid">
            <!-- 面包屑 -->
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">管理系统</a>
                </li>
                <li class="active">用户管理</li>
            </ol>
            <div class="lf-content clearfix">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <td width="10%">序号</td>
                            <td width="30%">用户名</td>
                            <td width="30%">手机号</td>
                            <td width="20%">状态</td>
                            <td width="10%">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>123</td>
                            <td>18242874318</td>
                            <td>正常</td>
                            <td><button class="btn btn-danger btn-xs">禁用</button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- bootstrap分页插件如果是3.0版本要求盒子必须为ul -->
                <div class="pagebtn" style="text-align:right;">
                    <ul id="paginator"></ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" tabindex="-1" id="loginoutMD">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger"> 
                       <span class="glyphicon glyphicon-info-sign"></span> 您确定要退出后台管理系统吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger exit">退出</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 启用禁用模态框 -->
    <div class="modal fade" tabindex="-1" id="userManage">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        <span class="glyphicon glyphicon-info-sign"></span> 你确定要禁用这个用户么?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger btn-edit">确定</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="tmp">
        {{each rows v i}}
        <tr>
            <td>{{(page-1)*size+i+1}}</td>
            <td>{{v.username}}</td>
            <td>{{v.mobile}}</td>
            <td>{{v.isDelete===1?'正常':'禁用'}}</td>
            <td data-id="{{v.id}}">
            {{if v.isDelete === 1}}
                <button class="btn btn-danger btn-xs">禁用</button>
            {{/if}}
            {{if v.isDelete === 0}}
                <button class="btn btn-success btn-xs">启用</button>
            {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>

    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入进度条的插件 -->
    <script src="./lib/nprogress/nprogress.js"></script>
    <!-- 引入分页插件 -->
    <script src="./lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
    <!-- 引入模板引擎 -->
    <script src="./lib/template/template-web.js"></script>
    <!-- 引入公共的js -->
    <script src="./js/commen.js"></script>
    <script src="./js/userManage.js"></script>

</body>
</html>